<div class="container-fluid" id="adminGamesAdd">
    <div class="container bg-white">
        <div class="page-header">
            <h1>Список игр</h1>
            <p>Игры, доступные на нашей платформе</p>
        </div>
        <div class="">
            <table class="table table-hover table-striped">
                <thead class="noselect">
                <tr>
                    <td>#</td>
                    <td>Название игры</td>
                    <td>Короткая запись</td>
                    <td>Доступность</td>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key, row) in vm.gamesList track by $index" ng-class="{'success' : row.success}">
                        <td>{{row.id}}</td>
                        <td><input type="text" class="form-control" ng-model="row.name" ng-blur="vm.saveChangeGame(row)"/></td>
                        <td><input type="text" class="form-control" ng-model="row.link" ng-blur="vm.saveChangeGame(row)"/></td>
                        <td><input type="checkbox" ng-model="row.available" ng-click="vm.saveChangeGame(row)"/></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="page-header">
            <h1>Добавление игры</h1>
            <p>Заполните и перепроверьте все поля</p>
        </div>
        <div class="">
            <table class="table table-hover table-striped">
                <thead class="noselect">
                <tr>
                    <td>Полное название</td>
                    <td>Короткое название</td>
                    <td>Доступность</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <input type="text" class="form-control" ng-model="vm.add.name"/>
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="vm.add.link"/>
                    </td>
                    <td class="ta-center">
                        <input type="checkbox" ng-model="vm.add.available"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class=" ta-center">
            <button class="btn btn-info" ng-click="vm.addGame()">Добавить игру</button>
            <h3 class="text-danger">{{vm.error}}</h3>
        </div>
    </div>
</div>