<div ng-controller="uploadImageController as vm" id="uploadImageModal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()"><i class="fa fa-close"></i></button>
        <h3 class="modal-title ta-center">Загрузчик файлов</h3>
    </div>
    <div class="modal-body">
        <div class="uploader-input-area" ng-hide="vm.uploader.queue.length == 1">
            <div class="file-upload">
                <label>
                    <input class="div-margin-auto" type="file" id="fileInput" nv-file-select="" uploader="vm.uploader">
                    <span>Выберите файл</span>
                </label>
            </div>
        </div>
        <div ng-if="vm.uploadImageFromModal.key == 'gift' && vm.uploader.queue.length > 0" class="cropArea" ng-if="vm.myImage != ''">
            <img-crop image="vm.myImage"
                      result-image="vm.myCroppedImage"
                      area-type="square"
                      result-image-size="250">
                      </img-crop>
        </div>
        <div class="ta-center uploaded-image" ng-if="vm.uploadImageFromModal.key != 'gift' && vm.uploader.queue.length > 0" ng-thumb="{ file: vm.uploader.queue[0]._file, width: 498 }"></div>
        <div class="remove-button" ng-if="vm.uploader.queue.length > 0"  uib-tooltip="Удалить картинку">
            <button type="button" class="btn btn-danger btn-xs" ng-click="vm.uploader.queue[0].remove();vm.myImage=''">
                <span class="fa fa-trash"></span>
            </button>
        </div>
        <div class="croppedImage" ng-if="vm.myImage != ''">
            <img class="img-thumbnail" ng-src="{{vm.myCroppedImage}}"/>
        </div>
    </div>
    <div class="modal-footer">
        <div class="ta-center" ng-if="vm.uploader.queue.length == 0">
            <h4>Выбери одно изображение для загрузки.</h4>
        </div>
        <div class="progress-result" ng-if="vm.uploader.queue.length > 0">
            <div>
                <button class="btn btn-success btn-lg" ng-click="vm.startUpload()">Отправить файл</button>
            </div>
        </div>

    </div>
</div>
