<div class="container-fluid" id="newsListCategory">
    <div class="container">
        <div class="title">
            <h1>Новости</h1>
            <ul class="breadcrumb">
                <li><a href="/news">Все новости</a></li>
                <li>{{vm.nowCat.name}}</li>
            </ul>
        </div>
        <div class="row mainlayer">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 item" ng-repeat="row in vm.news track by $index">
                <div class="itemdata">
                    <div class="imaga">
                        <a href="/news/{{row.category.id}}/{{row.id}}">
                            <img ng-src="{{row.images[0].imageLink}}"/>
                        </a>
                    </div>
                    <div class="rubric">
                        <a href="/news/{{row.category.id}}">{{row.category.name}}</a>
                    </div>
                    <div class="title">
                        <a href="/news/{{row.category.id}}/{{row.id}}">
                            <h3>{{row.name[0].text}}</h3>
                        </a>
                    </div>
                    <div class="text" ng-bind-html="vm.to_trusted(row.shortDesc[0].text.substring(0, 275))"></div>
                    <div class="meta">
                        <span>{{row.createTime | date:'dd.MM.yyyy'}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bottom-area" ng-show="vm.news.length > 9">
            <div class="col-xs-12">
                <button ng-click="vm.loadMoreNews()">
                    <i class="fa fa-refresh"></i> Загрузить больше новостей
                </button>
            </div>

        </div>
    </div>
</div>
