<div class="container-fluid" id="raffleUpdate">
    <div class="container bg-white">
        <div class="page-header">
            <h1>Изменение розыгрыша </h1>
            <p>Теперь можно менять розыгрыш самостоятельно ;-)</p>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Призы для розыгрыша</label>
                <div class="col-sm-10">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Count</td>
                                <td>Price</td>
                                <td>Members</td>
                                <td>Active</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key,row) in vm.raffle.gifts track by $index">
                                <td>{{row.gift}}</td>
                                <td>
                                    <input type="text" class="form-control" ng-model="row.giftCount"/>
                                </td>
                                <td>
                                    <input type="text" class="form-control" ng-model="row.price"/>
                                </td>
                                <td>
                                    <input type="text" class="form-control" ng-model="row.minMembers"/>
                                </td>
                                <td>
                                    <input type="checkbox" ng-model="row.active"/>
                                </td>
                                <td>
                                    <button class="btn btn-sm" ng-click="vm.deleteGift(key)">Удалить</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Добавить приз</label>
                <div class="col-sm-10">
                    <form class="form-inline">
                        <input type="text"
                               ng-model="vm.gift"
                               placeholder="Разыгрываемый приз"
                               uib-typeahead="state.id as state.name for state in vm.giftList | filter:{name:$viewValue} | limitTo:8"
                               class="form-control">
                        <button class="btn btn-info" ng-click="vm.findAndAddGift(vm.gift)">Добавить</button>
                    </form>

                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Кто из стримеров разыгрывает приз?</label>
                <div class="col-sm-10">
                    <form class="form-inline">
                        <input type="text"
                           ng-model="vm.organizer"
                           placeholder="Для кого создается розыгрыш?"
                           uib-typeahead="state.user.id as state.user.name for state in vm.streamersList | filter:{user:{name:$viewValue}} | limitTo:8"
                           class="form-control">
                        <button class="btn btn-info" ng-click="vm.findAndAddStreamer(vm.organizer)">Добавить</button>
                        <span>{{vm.raffle.organizer.name}}</span>
                    </form>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Шортлинк</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="vm.raffle.shortLink" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Название приза</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="vm.raffle.name" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Статус "ПРОМО"</label>
                <div class="col-sm-10">
                    <input type="checkbox" ng-model="vm.raffle.promo">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Статус "Отменен"</label>
                <div class="col-sm-10">
                    <input type="checkbox" ng-model="vm.raffle.reject">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Стоимость участника</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="vm.raffle.pricePerUser" placeholder="Стоимость в копейках" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Целевые действия</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-model="vm.selectTargetAction">
                        <option value="SUBSCRIBE_VK">Вступление в группу Вконтакте</option>
                        <option value="FOLLOW_TWITCH">Подписка на канал Twitch</option>
                        <option value="SUBSCRIBE_TWITCH">Платная подписка на канал Twitch</option>
                        <option value="SUBSCRIBE_FB">Вступление в группу Facebook</option>
                        <option value="LIKE_VK">Лайк записи Вконтакте</option>
                        <option value="REPOST_VK">Репост записи Вконтакте</option>
                        <option value="LIKE_FB">Лайк записи в Facebook</option>
                        <option value="DIRECT_LINK">Переход по внешней ссылке</option>
                        <option value="VIDEO">Просмотр видео с YouTube</option>
                        <option value="CPA">CPA</option>
                        <option value="SHOW_VIDEO">Поделиться видео</option>
                        <option value="CODE">Пасхалка</option>
                    </select>
                    <hr/>
                    <button class="btn btn-success" ng-disabled="!vm.selectTargetAction" ng-click="vm.addToActionsList(vm.selectTargetAction)">Добавить</button>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Целевые действия</label>
                <div class="col-sm-10">
                    <p>Поля заполняются по необходимости</p>
                    <table class="table">
                        <thead>
                        <tr>
                            <td class="ta-center">#</td>
                            <td class="ta-center">Type</td>
                            <td class="ta-center">ID</td>
                            <td class="ta-center">Name</td>
                            <td class="ta-center">URL / count</td>
                            <td class="ta-center">Sponsor</td>
                            <td class="ta-center">Luck</td>
                            <td class="ta-center">Delete</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="ta-center" ng-repeat="(key,row) in vm.raffle.tasks">
                            <td class="va-middle">{{key+1}}</td>
                            <td class="va-middle">{{row.taskType}}</td>
                            <td class="va-middle">
                                <input type="text" ng-model="row.id" class="form-control ta-center" placeholder="ID"/>
                            </td>
                            <td class="va-middle">
                                <input type="text" ng-model="row.name" class="form-control ta-center" placeholder="Текст"/>
                            </td>
                            <td class="va-middle">
                                <input type="text" ng-model="row.params.url" ng-show="row.taskType == 'CPA'" class="form-control ta-center" placeholder="streampub.net"/>
                                <input type="text" ng-model="row.params.count" ng-show="row.taskType == 'SHOW_VIDEO'" class="form-control ta-center" placeholder="5"/>
                                <input type="text" ng-model="row.params.id" ng-show="row.taskType == 'CODE'" class="form-control ta-center" placeholder="Ответ"/>
                            </td>
                            <td class="va-middle">
                                <select class="form-control" ng-model="row.owner" ng-show="row.taskType == 'CPA'">
                                    <option value="PLATFORM">StreamPub</option>
                                    <option value="SPONSOR">Спонсор</option>
                                    <option value="STREAMER">Стример</option>
                                </select>
                            </td>
                            <td class="va-middle">
                                <input type="number" ng-model="row.luck" min="0" class="form-control ta-center" placeholder="100500"/>
                            </td>
                            <td class="va-middle">
                                <button class="btn btn-danger" ng-click="vm.deleteFromTargetList(key)">Удалить</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr/>
            <div class="form-group ta-center">
                {{vm.ok}}
                <button class="btn btn-success btn-lg" ng-click="vm.saveRaffle()">Сохранить изменения</button>
                <a class="btn btn-danger" href="/admin/raffles/raffleslist">К списку розыгрышей</a>
            </div>
        </div>
    </div>
</div>