<div ng-controller="closeHelloVideoController as vm" class="cpaCdNonComplete">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()"><i class="fa fa-close"></i></button>
        <h3 class="modal-title ta-center">Внимание!</h3>
    </div>
    <div class="modal-body text-center">
        <h4>Чтобы повысить шансы на победу за счет просмотра видео, надо досмотреть видео до конца.</h4>
        <button class="btn btn-info" ng-click="vm.openvideo(); $dismiss()">Посмотреть еще раз!</button>
    </div>
</div>
