<div id="preloader" ng-controller="preloaderController" ng-show="statusPreloaders" ng-if="!widgetOpen">
    <!--<div ng-if="config.preloaderType == 1" align="center" id="styleOne">
        <div class="contener_general">
            <div class="contener_mixte"><div class="ballcolor ball_1">&nbsp;</div></div>
            <div class="contener_mixte"><div class="ballcolor ball_2">&nbsp;</div></div>
            <div class="contener_mixte"><div class="ballcolor ball_3">&nbsp;</div></div>
            <div class="contener_mixte"><div class="ballcolor ball_4">&nbsp;</div></div>
        </div>
    </div>-->
    <!--<div ng-if="config.preloaderType == 2" id="styleTwo">
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
    </div>-->
    <div class="logo" ng-if="config.preloaderType == 3" id="styleThree">
        <img src="/src/img/base/logo.png"/>
    </div>
</div>