<div class="container-fluid" id="cpaMeshesVideoseed">
    <div class="container bg-white">
        <div class="row title">
            <h1>Просмотр видео</h1>
            <h5>За просмотр каждого видео на этой странице тебе будет начисляться LUCK</h5>
        </div>
        <div class="row luck-area">
            <h2 class="ta-center" ng-hide="vm.weHaveError">Ты заработал <span>{{vm.status.luck}}</span> LUCK за просмотр этих видео</h2>
        </div>
        <div class="row luck-area">
            <h2 class="ta-center" ng-hide="vm.weHaveError">Продолжительность этого видео: {{vm.secToTime(vm.duration)}} <small>сек.</small></h2>
        </div>
        <div class="row ta-center player-area" id="vsPlayerArea">
            <div class="overlay-block" ng-if="vm.videoStart"></div>
            <script type='text/javascript' id='s-{{vm.routeParams.taskid}}'></script>
        </div>
        <div class="row error-area ng-hide">
            <h3>К сожалению, новых видео для тебя пока нет. Приходи через несколько часов, может что и появится ;-)</h3>
        </div>
        <div class="row error-area">
            <button ng-click="vm.backToRaffle()">Вернуться в розыгрыш</button>
        </div>
    </div>
</div>
