#cpaMeshesMoeVideo {
  .container {
    padding: 0 50px 50px;
    .title {
      width:100%;
      padding:20px 0 40px 0;
      h1 {
        color: @h-color;
        font:italic 2.71rem/2.71rem @f-head;
        text-align:left;
        text-transform: uppercase;
      }
      h5 {
        color: @h-color;
        font:1.14rem/1.14rem @f-main;
        text-align:left;
      }
    }
    .error-area {
      text-align: center;
      button {
        margin: 30px auto 0;
        display: block;
        width: 300px;
        text-align: center;
        border: 0;
        outline: 0;
        height: 40px;
        background: @orange-color;
        color: #fff;
        font: italic 1.4rem/40px @f-head;
        -webkit-transition: .2s ease-out;
        transition: .2s ease-out;
        &:hover {
          -webkit-transition: .2s ease-out;
          transition: .2s ease-out;
          background: @orange-color-hover;
        }
        &:focus {
          -webkit-transition: .2s ease-out;
          transition: .2s ease-out;
          background: @orange-color;
        }
      }
    }
  }
}