<div class="wizardErrors">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()"><i class="fa fa-close"></i></button>
        <h3 class="modal-title ta-center">Ошибка создания розыгрыша!</h3>
    </div>
    <div class="modal-body modal-body-notification">
        <h4 class="ta-center">Друг, у тебя уже есть один активный розыгрыш и ты не можешь завести еще один! Список твоих розыгрышей, завершенных и текущих, отображается в <a href="/dashboard" ng-click="$dismiss()">личном кабинете</a></h4>
    </div>
</div>
